# Reversible partition-layout migration only. No security eFuse features.
CONFIG_IDF_TARGET="esp32s2"

CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_OFFSET=0xE000

# CONFIG_SECURE_BOOT is not set
# CONFIG_SECURE_SIGNED_APPS_NO_SECURE_BOOT is not set
# CONFIG_SECURE_FLASH_ENC_ENABLED is not set
